
# Backend
BACKEND_PORT=["your_port"]  #ex 8080
DATABASE_URL=["Your_backend_url"]

# Agent
AGENT_HOST_ID=["choice_of_host"] #i.e ubuntu, kali
AGENT_INGEST_URL=["URL"]
AGENT_AUTH_LOG=["path"]

# Dashboard
NEXT_PUBLIC_BACKEND_URL=["Localhost"]

AGENT_NETWORK_POLL=["number"]
AGENT_FILE_CHECK_SECONDS=["number"]